---
import SimplePageHeader from "../../components/SimplePageHeader.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { type ICategoria, type IRol } from "../../database/dbMySQL";
import { getAllCategorias, getAllRoles } from "../../database/consultas";
import '../../styles/formulario.css';

const user = Astro.locals.user;
if(!user){
    return Astro.redirect("/auth/signin")
}else if(user && (!user.admin || user.admin==0)){
    return Astro.redirect("/home")
    
}

const categorias = await getAllCategorias();
const categoriasNames = categorias?.map((categoria: ICategoria) => categoria.idNombre);
const roles = await getAllRoles();
const rolesNames = roles?.map((rol:IRol)=> rol.idRol)

---

<BaseLayout title='Onboarding' permalink={'/addBD/addCategoria'}>
    <SimplePageHeader
        title='Developer Roadmaps'
        description='Incluir en el almacenamiento de la empresa un nueva categoría:'
    />

    <form id="categoriaForm" class="form-container" autocomplete="off">
        <fieldset>
            <label class="required-field" for="titulo">Título:</label>
            <input
                type="text"
                id="titulo"
                name="titulo"
                required
                placeholder="Título de la categoría"
                aria-required="true"
            />

            <label class="required-field" for="descripcion">Descripción:</label>
            <textarea
                id="descripcion"
                name="descripcion"
                cols="50"
                rows="5"
                placeholder="Descripción..."
                required
                aria-required="true"
            ></textarea>

            <input type="hidden" id="categoriaPadre" name="categoriaPadre" value="Global">


            <label  for="categoriaPadre">Pertenece a alguna categoría más global:</label>
            
            <input type="text" id="input-box" placeholder="Buscar categoría" autocomplete="off">

            <div id="custom-dropdown" class="custom-dropdown">
                <ul id="dropdown-options" class="dropdown-options">
                    <li value="Global">Ninguna</li>
                    {categoriasNames?.map((categoria: string) => (
                        <li value={categoria}>{categoria}</li>
                    ))}
                </ul>
            </div>

        </fieldset>

        <fieldset>
            <label>Dirigido, ¿a qué rol? (Por defecto, a todos): </label>
            {rolesNames?.map((rol:string) => (
                 <label><input type="checkbox" name="rolCategoria" value={rol}> {rol}</label>
            ))}
           
        </fieldset>


        <div class="button-container">
            <button type="submit">Guardar</button>
        </div>

        <div id="correct-message" class="message success"></div>
        <div id="error-message" class="message error"></div>
    </form>

    <script>
      import { setupDropdown, setupFormSubmission } from '../../utils.js';

        setupFormSubmission('categoriaForm', '/api/addCategoria');
        setupDropdown('input-box', 'custom-dropdown', 'categoriaPadre');

  
  </script>


</BaseLayout>
