---

import SimplePageHeader from "../../components/SimplePageHeader.astro";
import { insertCategoria} from "../../database/consultas";
import { getAllCategorias } from "../../database/consultas";
import BaseLayout from "../../layouts/BaseLayout.astro";
import '../../styles/formulario.css'


 export const prerender = false



if (Astro.request.method === "POST") {
    try {
        const data = await Astro.request.formData();
        const titulo = data.get("titulo")?.toString();
        const descripcion = data.get("descripcion")?.toString();
        const categoriaPadre = data.get("categoriaPadre")?.toString();

        console.log(titulo)
        console.log(descripcion)
        console.log(categoriaPadre)
        if(titulo && descripcion && categoriaPadre){
           let idCategoria= await insertCategoria(titulo, descripcion, categoriaPadre);
           console.log(idCategoria)
           console.log('Categoria insertada correctamente')
          }
        

    } catch (error) {
      return Astro.redirect('/addBD/addError')
    
    }
  }

const categorias = await getAllCategorias();
var categoriasNames = categorias?.map((categoria) => categoria.idNombre);
console.log(categoriasNames)


---

<BaseLayout title='Onboarding' permalink={'/enviarOpinion'}>
    <SimplePageHeader
    title='Developer Roadmaps'
    description='Incluir en el almacenamiento de la empresa un nueva categoría:'
  />


  <form method="POST">

        <fieldset>
            <label  for="titulo" >Título:</label>
            <input
              type="text"
              id="titulo"
              name="titulo"
              required
              placeholder="Título de la categoría" aria-required="true"
            />

            <label for="descripcion">Descripción:</label>
            <textarea
              id="descripcion"
              name="descripcion"
              cols="50"
              rows="5"
              placeholder="Descripción..."
            ></textarea>


        <label for="categoriaPadre">Pertenece a alguna categoría más global:</label>
        <select id="categoriaPadre" name="categoriaPadre" >
            <option value="" disabled selected>Escoger categoría padre...</option>
            <option value="Global" >Ninguna</option>
            {categoriasNames?.map((categoria) => (
              <option value={categoria}>{categoria}</option>
            ))}
          </select>

        </fieldset>
        <button type="submit">Guardar</button>

</form>




</BaseLayout>