---
import SimplePageHeader from "../../components/SimplePageHeader.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import '../../styles/formulario.css';
import {insertResource} from '../../database/consultas.ts';
import {getAllCategorias} from '../../database/consultas.ts';


 export const prerender = false

 if (Astro.request.method === "POST") {
    try {
        const data = await Astro.request.formData();
      const titulo = data.get("titulo")?.toString();
      const enlace = data.get("enlaceFichero")?.toString();
      const interno = data.get("internoExterno")?.toString() === "true" ? true : false;
      //Opcionales
      const descripcion = data.get("descripcion")?.toString();
      const dificultad = data.get("dificultad")?.toString();
      const idioma = data.get("idioma")?.toString();
        const tipo = data.get("tipo")?.toString();
        const formato = data.get("formato")?.toString();
      let idRecurso ;
      if(titulo && enlace && interno){
      idRecurso = await insertResource(titulo, enlace, interno, descripcion ?? null , dificultad ?? null, idioma ?? null, tipo ?? null, formato ?? null, null);
      }
    } catch (error) {
      console.log(error);
    }
  }

const categorias = await getAllCategorias();
var categoriasNames = categorias?.map((categoria) => categoria.idNombre);
---


<BaseLayout title='Onboarding' permalink={'/enviarOpinion'}>
    <SimplePageHeader
    title='Developer Roadmaps'
    description='Incluir en el almacenamiento de la empresa un nuevo recurso:'
  />
  <head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"/>
    <!-- Include Select2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

  </head>

  <form method="POST">
    <fieldset>
        <label  for="titulo" >Título:</label>
        <input
          type="text"
          id="titulo"
          name="titulo"
          required
          placeholder="Título del recurso" aria-required="true"
        />

        <label for="enlaceFichero">Enlace al fichero:</label>
        <input
          type="text"
          id="enlaceFichero"
          name="enlaceFichero"
          required
          placeholder="Enlace del fichero" aria-required="true"
        />

        <label for="interno">¿Este recurso ha sido creado por LKS?:</label>
            <div class="radio-container" >
                <input type="radio" id="interno" name="internoExterno" value="true" required/>
                <label for="interno">Sí</label>

                <input type="radio" id="externo" name="internoExterno" value="false" required/>
                <label for="intermedio">No</label>
              </div>
        </fieldset>

        <label for="categoria">Elige una categoría:</label>
        <select class="js-example-basic-single" id="categoria" name="categoria" >
          {categoriasNames?.map((categoria) => (
            <option value={categoria}>{categoria}</option>
          ))}
          </select>
          <div style="display: flex; flex-flow: column; justify-content: center;">
            <rux-log filter=""></rux-log>
          </div>

        <fieldset>
            <legend>Campos opcionales </legend>
        <br></br>
        <label for="descripcion">Descripción:</label>
        <textarea
          id="descripcion"
          name="descripcion"
          cols="50"
          rows="5"
          placeholder="Descripción..."
        ></textarea>
        

        <label for="dificultad">Nivel de dificultad:</label>

            <div class="radio-container">
                <input type="radio" id="principiante" name="dificultad" value="principiante"/>
                <label for="principiante">Principiante</label>
                
                <input type="radio" id="intermedio" name="dificultad" value="intermedio"/>
                <label for="intermedio">Intermedio</label>
                
                <input type="radio" id="avanzado" name="dificultad" value="avanzado"/>
                <label for="avanzado">Avanzado</label>
              </div>

        <label for="idioma">Idioma:</label>
              <select id="idioma" name="idioma" >
                <option value="" disabled selected>Escoger idioma...</option>
                <option value="castellano">Castellano</option>
                <option value="euskera">Euskera</option>
                <option value="ingles">Inglés</option>
                <option value="otro">Otro...</option>
              </select>

        <label for="tipo">¿Qué tipo es?:</label>
              <select id="tipo" name="tipo" >
                <option value="" disabled selected>Escoger tipo...</option>
                <option value="dePago">Curso de pago</option>
                <option value="gratuito">Curso gratuito</option>
                <option value="webinars">Webinars</option>
                <option value="libro">Libro</option>
                <option value="guia">Guía</option>
                <option value="tutorial">Tutorial</option>
                <option value="articulo">Artículo</option>
                <option value="otro">Otro...</option>
              </select>

              <label for="formato">¿Qué formato tiene?:</label>
              <select id="formato" name="formato" >
                <option value="" disabled selected>Escoger formato...</option>
                <option value="pdf">PDF</option>
                <option value="video">Vídeo</option>
                <option value="imagen">Imagen</option>
                <option value="presentacion">Presentación</option>
                <option value="otro">Otro...</option>
              </select>


            </fieldset>

            <label for="otrosRecursos">¿Esta relacionado con algún otro?:</label>
            Falta implementar esto, permiter mostrar la lista de recursos,
            y seleccionar uno o varios de ellos para relacionarlos con el nuevo recurso.

        <button type="submit">Guardar</button>

</form>

</BaseLayout>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js">
 import $ from 'jquery';
  $(document).ready(function() {
    $('.js-example-basic-single').select2();
});
</script>


