---
import "bootstrap/dist/css/bootstrap.min.css";
import bootstrap from "bootstrap/dist/js/bootstrap.bundle.min.js?url";
---

<html>
    
<body>

    <div class="search-box">
        <div class="row">
            <input type="text" id="input-box" placeholder="Search for a movie"
            autocomplete="off">
            <button>search</button>
        </div>

        <div class="results-box">
           
        </div>
    </div>

</body>

<script src='./search.js'></script>


</html>