---
import '../../styles/btnProgress.css'
---
<label class="container-progress">
    <input class="input-progress" type="checkbox" checked="checked">
    <div class="checkmark-progress"></div>
  </label>