---
import {db} from '../../database/db'

export async function getRecursoCategoria() {
  console.log('hola funciona')
}
//AQUI SE DEBERía AÑADIR COMO SE VAN A PRESENTAR LOS RECURSOS , es decir, titulo, link,...
---

<div>
   { getRecursoCategoria()}
</div>