---
import SimplePageHeader from "../../components/SimplePageHeader.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import '../../styles/formulario.css'

const { request } = Astro;
const url = new URL(request.url);
const searchParams = new URLSearchParams(url.search);
const id = searchParams.get('id');

---
<head>
    <meta charset="UTF-8" />
  </head>
  <BaseLayout title='Onboarding' permalink={`/opinar/calificarExterno?id='${id}'` }>
      <SimplePageHeader
      title='Developer Roadmaps'
      description='Incluir en el almacenamiento de la empresa un nuevo recurso:'
    />
  
  
    <form method="POST" class="form-container" action="/api/calificar">
        <input type="hidden" name="formType" value="calificarExterno" />
      <fieldset>

        <label for="dificultad">¿En términos genereales, el recurso te ha parecido útil?: Poco 1 ... 5 Muy útil</label>
  
              <div class="radio-container">
                  <input type="radio" id="utilidad1" name="utilidad" value="1"/>
                  <label for="utilidad1">1</label>
                  
                  <input type="radio" id="utilidad2" name="utilidad" value="2"/>
                  <label for="utilidad2">2</label>
                  
                  <input type="radio" id="utilidad3" name="utilidad" value="3"/>
                  <label for="utilidad3">3</label>

                  <input type="radio" id="utilidad4" name="utilidad" value="4"/>
                  <label for="utilidad4">4</label>

                  <input type="radio" id="utilidad5" name="utilidad" value="5"/>
                  <label for="utilidad5">5</label>
                </div>
      </fieldset>

      <fieldset>

        <label for="problema">¿Hay algún tema que no hayas comprendido del todo?</label>
                <div class="radio-container" >
                    <input type="radio" id="problemaSi" name="problema" value="true" required/>
                    <label for="interno">Sí</label>
    
                    <input type="radio" id="problemaNo" name="problema" value="false" required/>
                    <label for="intermedio">No</label>
                  </div>
      </fieldset>

      <fieldset>
          <label for="topTema">Entre los temas que se han trabajado, ¿hay alguno que se haya explicado particularmente bien? Si puedes, describe qué tema te ha ayudado.</label>
          <input
            type="text"
            id="topTema"
            name="topTema"
            required
            placeholder="Tema mejor trabajado..." aria-required="true"
          />

        </fieldset>

        <fieldset>
                <label for="dificultad">Nivel de dificultad:</label>

                <div class="radio-container">
                    <input type="radio" id="principiante" name="dificultad" value="Principiante"/>
                    <label for="principiante">Principiante</label>
                    
                    <input type="radio" id="intermedio" name="dificultad" value="Intermedio"/>
                    <label for="intermedio">Intermedio</label>
                    
                    <input type="radio" id="avanzado" name="dificultad" value="Avanzado"/>
                    <label for="avanzado">Avanzado</label>
                  </div>
                </fieldset>

            <fieldset>


                  <label for="recomendado">¿Hay algún tema que no hayas comprendido del todo?</label>
                  <div class="radio-container" >
                      <input type="radio" id="recomendadoSi" name="recomendado" value="true" required/>
                      <label for="interno">Sí</label>
      
                      <input type="radio" id="recomendadoNo" name="recomendado" value="false" required/>
                      <label for="intermedio">No</label>
                    </div>
            </fieldset>


        <fieldset>
        <label for="horas">¿Cuánto tiempo te ha llevado realizarlo/leerlo? Indícalo en horas:</label>
        <input type="number" id="horas" name="horas" required placeholder="Horas invertidas..." aria-required="true" step="0.5" />
         </fieldset>

         <br><br><br>
         <div class="button-container">
          <button type="submit">Guardar</button>
        </div>
  </form>
  
  
  </BaseLayout>
  

  