form {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border: none; /* Remove the default fieldset border */
    border-bottom: 2px solid #ccc; /* Add a bottom border */
    padding: 20px; /* Optional: for visual spacing */
    max-width: 600px; /* Optional: set a max-width for better appearance */
}
  
  legend {
    font-weight: bold;
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="email"],
  textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }



  .radio-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .radio-container label {
    margin-right: 10px;
  }

  .checkbox-container {
    display: flex;
    flex-direction: column;
}

.checkbox-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px; /* Adjust margin as needed */
}

.checkbox-item input[type="checkbox"] {
    margin-right: 10px; /* Adjust margin as needed */
}

input[type="number"] {
  width: 100px; /* Establece el ancho del campo de entrada */
  height: 30px; /* Establece la altura del campo de entrada */
  border: 2px solid orange; /* Bordes en negro */
  border-radius: 15px; /* Bordes redondeados */
  padding: 5px; /* Espacio interior del campo */
  font-size: 16px; /* Tamaño de fuente */
  box-sizing: border-box; /* Incluye el padding y el borde dentro del tamaño total del elemento */
}

input[type="submit"] {
  margin-top: 10px; /* Espacio superior para el botón de envío */
  padding: 10px 20px; /* Espaciado interno del botón de envío */
  font-size: 16px; /* Tamaño de fuente del botón de envío */
  border-radius: 5px; /* Bordes redondeados del botón de envío */
  cursor: pointer; /* Cambia el cursor cuando se pasa sobre el botón de envío */
}

input[type="submit"]:hover {
  background-color: #f0f0f0; /* Color de fondo del botón de envío al pasar el ratón por encima */
}

.checkbox-item label:not([for]) {
  margin-left: 20px; /* Espacio a la izquierda del segundo label */
  font-weight: normal;
}

.button-container {
  display: flex;
  justify-content: center; /* Centers the button horizontally */
}