.form-container {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

fieldset {
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 20px;
  max-width: 600px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

input[type="text"],
textarea,
select {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  margin-bottom: 10px;
}

button {
  background-color: #0ea5e9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.message {
  display: none; /* Initially hide messages */
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
}

.success.show {
  display: block; /* Show success message if it has content */
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.error.show {
  display: block; /* Show error message if it has content */
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.button-container {
  display: flex;
  justify-content: center;
}

.custom-dropdown {
  position: relative;
  display: none;
}

.dropdown-options {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 300px; /* Set a maximum height for the dropdown */
  overflow-y: auto; /* Enable vertical scrolling */
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 100%; /* Make the dropdown the same width as the input */
}

.dropdown-options li {
  padding: 8px 12px;
  cursor: pointer;
}

.dropdown-options li:hover {
  background-color: #f0f0f0;
}

/* Style the scrollbar */
.dropdown-options::-webkit-scrollbar {
  width: 8px;
}

.dropdown-options::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.dropdown-options::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.dropdown-options::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.radio-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.radio-container label {
  margin-right: 50px; 
}

.checkbox-list {
  margin-top: 10px;
}
.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.checkbox-container input[type="checkbox"] {
  margin: 0;
}
.checkbox-container label {
  margin-left: 5px;
  margin-top: auto;
  margin-bottom: auto;
}