---
import GridItem from '../../components/GridItem.astro';
import SimplePageHeader from '../../components/SimplePageHeader.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
//import { getAllOrganigramas } from '../../lib/organigrama';

//const organigramas = await getAllOrganigramas();
---

<BaseLayout
  title='Organigrma'
  description={'Organigrama de la empresa LKS Next.'}
  permalink={'/organigrama'}
>
  <SimplePageHeader
    title='Organigrama LKS Next'
    description='Organigrama para ayudar tanto a los empleados como a las nuevas incorporaciones'
  />

  <div class='bg-gray-100 pt-4 pb-14 sm:pt-8 sm:pb-16'>
    <div class='container'>
      <div class='grid grid-cols-1 sm:grid-cols-2 gap-0.5 sm:gap-3'>
      
      <!-- {
          organigramas.map((organigrama) => (
            <GridItem
              url={`/organigrama/${organigrama.id}`}
              isNew={organigrama.frontmatter.isNew}
              title={organigrama.frontmatter.briefTitle}
              description={organigrama.frontmatter.description}
            />
          ))
        } -->
      </div>
    </div>
  </div>
</BaseLayout>
