---
import BaseLayout from "../../layouts/BaseLayout.astro"
import SimplePageHeader from "../../components/SimplePageHeader.astro"

---
<BaseLayout title="Información" permalink={'/help/ayuda'}>

</BaseLayout>

<section class="ayuda section" id="ayuda">
    <div class="ayuda container container grid">
        <div class="info__data">
            <h1 class="ayuda__title">
                Recurso <br> Ejemplo
            </h1>

            <p class="ayuda__description">
                Lorem ipsum dolor sit amet consectetur adipiscing elit himenaeos lacus habitasse, varius blandit eleifend quam tristique lectus augue morbi tempus facilisis inceptos, cursus ad laoreet suspendisse tempor accumsan orci mi congue. Sagittis dictumst potenti erat odio orci et nisi habitant magnis, lobortis molestie massa imperdiet aliquam dignissim fusce eget ligula, eros pharetra fermentum feugiat posuere dictum dui suscipit. Himenaeos morbi ligula dictum aliquam id lacus nam euismod facilisis nostra, parturient urna curae convallis taciti tincidunt ante nunc mus suspendisse natoque, bibendum vitae libero lobortis duis non facilisi senectus fusce.
            </p>
        </div>



    </div>
</section>