---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SimplePageHeader from "../../components/SimplePageHeader.astro";
import { getAllCategorias} from '../../database/consultas';
import {Dropdown} from './Dropdown';
export const prerender = false


const fetchCategoriaNames = async () => {
    const listaDeCategorias = await getAllCategorias();
    return listaDeCategorias?.map(categoria => categoria.idNombre) ?? [];
};


const [categoriaNames] = await Promise.all([fetchCategoriaNames()]);

---

<BaseLayout title='Modificar contenido' permalink={'/categoriaSelect'}>
    <SimplePageHeader
      title='Developer Roadmaps'
      description='Modifica el contenido del roadmap'
    />

    <label>Selecciona la categoria: </label>


<Dropdown lista={categoriaNames}/>
 

      <br/>

      <br/>
      <br/>
  
      <br/>
  
      <br/>
      <br/>
  

      <script>
        /** 
          const categoriaDropdown = document?.getElementById("categoriaDropdown");
          if (categoriaDropdown) {
            categoriaDropdown.classList.toggle("show");
          }
        
          const input = document?.getElementById("categoriaSelect") as HTMLInputElement;
          const filter = input?.value.toUpperCase();
          const div = document?.getElementById("categoriaDropdown");
          const a = div?.getElementsByTagName("a");
          if (a) {
          for (let i = 0; i < a.length; i++) {
            
              const txtValue = a[i].textContent || a[i].innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
              a[i].style.display = "";
            } else {
              a[i].style.display = "none";
            }
            }
            
          }
        

        // TODO: Si queremos añadir que dependa del roadmap, coger de la url el nombre de este

        const select = document.getElementById('categoriaSelect');
        select?.addEventListener('change', (event) => {
            const categoria =(event.target as HTMLSelectElement).value;
            window.location.href = `/modificar/contenido?categoria=${categoria}`;
        });
        */
      </script>


</BaseLayout>