---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SimplePageHeader from "../../components/SimplePageHeader.astro";
import { getComponentesCategoria } from '../../database/consultas';

export const prerender = false




const roadmapName =  Astro.request.url.split('=')[1];


const fetchCategoriaNames = async () => {
    const listaDeCategorias = await getComponentesCategoria(roadmapName);
    return listaDeCategorias?.map(categoria => categoria.componenteCategoria);
};

const [categoriaNames] = await Promise.all([fetchCategoriaNames()]);
---

<BaseLayout title='Modificar contenido' permalink={'/categoriaSelect'}>
    <SimplePageHeader
      title='Developer Roadmaps'
      description='Modifica el contenido del roadmap'
    />

    <label>Selecciona la categoria: </label>

    <select name="categoria" id="categoriaSelect">
      <option value="" disabled selected>...</option>
        {categoriaNames?.map((categoria: string) => (
            <option value={categoria}>{categoria}</option>
          ))}
      </select>

      <br/>

      <br/>
      <br/>
  
      <br/>
  
      <br/>
      <br/>
  

      <script>

        // TODO: Si queremos añadir que dependa del roadmap, coger de la url el nombre de este

        const select = document.getElementById('categoriaSelect');
        select?.addEventListener('change', (event) => {
            const categoria =(event.target as HTMLSelectElement).value;
            window.location.href = `/modificar/contenido?categoria=${categoria}`;
        });
      </script>


</BaseLayout>