---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SimplePageHeader from "../../components/SimplePageHeader.astro";
import { getAllCategorias} from '../../database/consultas';
import {Dropdown} from './Dropdown';
export const prerender = false


const fetchCategoriaNames = async () => {
    const listaDeCategorias = await getAllCategorias();
    return listaDeCategorias?.map(categoria => categoria.idNombre) ?? [];
};


const [categoriaNames] = await Promise.all([fetchCategoriaNames()]);

---

<BaseLayout title='Modificar contenido' permalink={'/categoriaSelect'}>
    <SimplePageHeader
      title='Developer Roadmaps'
      description='Modifica el contenido del roadmap'
    />

    <label>Selecciona la categoria: </label>
    <form id="categoriaForm" class="form-container" autocomplete="off">
      
    <input type="text" id="input-box" placeholder="Buscar categoría" autocomplete="off">

    <div id="custom-dropdown" class="custom-dropdown">
        <ul id="dropdown-options" class="dropdown-options">
            <li value="Global">Ninguna</li>
            {categoriaNames?.map((categoria: string) => (
                <li value={categoria}>{categoria}</li>
            ))}
        </ul>
    </div>
  </form>
      <script>
    
      </script>


</BaseLayout>