---
import SimplePageHeader from "../../components/SimplePageHeader.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCategoriaInformacionRoadmap, updateCategoriaNombreDescripcion,} from "../../database/consultas";
export const prerender = false


const categoriaName = decodeURIComponent(Astro.request.url).split('=')[1]

const informacion = await getCategoriaInformacionRoadmap(categoriaName)

if (Astro.request.method === 'POST') {
    try{
      
      
        const data = await Astro.request.formData();
        const categoria = data.get('categoria');
        const descripcion = data.get('descripcion');
        if(categoria && descripcion){
          await updateCategoriaNombreDescripcion( categoriaName, categoria.toString(), descripcion.toString())

        }

        return Astro.redirect('/')
    
    }catch(e){
        console.log(e)
    }
}
---
<BaseLayout title='Modificar la información' permalink={'/modificar/contenido'}>
    <SimplePageHeader
    title='Developer Roadmaps'
    description='Modificar la información/contenido'
  />

  <form method="POST">
    
    <label>
      Título:     
      <textarea name="categoria" rows="1" cols="60">{informacion?.idNombre}</textarea>
    </label>
  </br>
</br>
</br>
</br>
    <label>
      Descripción:
      <textarea name="descripcion" rows="10" cols="120">{informacion?.descripcion}</textarea>
    </label>
  </br>
</br>

    
    <button>Guardar</button>
    </form>


</BaseLayout>