---
import SimplePageHeader from "../../components/SimplePageHeader.astro";
import { getAllRecursos} from "../../database/consultas";
import BaseLayout from "../../layouts/BaseLayout.astro";
import '../../styles/formulario.css'

const recursos = await getAllRecursos();

---

<BaseLayout title='Onboarding' permalink={'/modificar/escogerRecurso'}>
    <SimplePageHeader
    title='Developer Roadmaps'
    description='En LKS Next, estamos comprometidos con el crecimiento profesional y el desarrollo de habilidades de nuestro equipo. Como parte de este compromiso, ofrecemos una variedad de recursos de aprendizaje, tanto internos como externos, incluyendo cursos y talleres diseñados para enriquecer su conocimiento y competencias. Nos gustaría conocer su opinión sobre estos recursos: si han sido útiles para desempeñar su rol dentro del equipo y para llevar a cabo sus tareas de manera efectiva. Su feedback es invaluable para nosotros, ya que nos permite evaluar y mejorar constantemente la calidad y la relevancia de las oportunidades de aprendizaje que ofrecemos.'
  />


  <form method ="POST" class="form-container" action="/api/modificar">
    <input type="hidden" name="formType" value="escogerRecurso" />
    <fieldset>
        <legend>LKS Evaluación de recursos de aprendizaje</legend>
        <label for="titulo">Escoge el recurso que has cursado:</label>
        <select id="recurso" name="recurso" required>
          <option value="" disabled selected>Escoger el recurso a valorar...</option>
          {recursos?.map((recurso) => (
            <option value={recurso.idRecurso}>{recurso.titulo}</option>

        ))}
        
        </select>

</fieldset>

      <button type="submit">Next</button>

  </form>

</BaseLayout>