---
import SimplePageHeader from "../../components/SimplePageHeader.astro";
import { getRoadmapAlmacenados } from "../../database/consultas";
import BaseLayout from "../../layouts/BaseLayout.astro";


export const prerender = false

const fetchRoadmapNames = async () => {
    const listaDeRoadmaps = await getRoadmapAlmacenados();
    return listaDeRoadmaps?.map(roadmap => roadmap.idRoadmap);
};

const [roadmapNames] = await Promise.all([fetchRoadmapNames()]);



---

<BaseLayout title='Modificar contenido' permalink={'/roadmapSelect'}>
    <SimplePageHeader
      title='Developer Roadmaps'
      description='Modifica el contenido del roadmap'
    />
  

      <label> Roadmap a modificar: </label>
      <br/>
      <select name="roadmap" id="roadmapSelect">
        <option value="" disabled selected>...</option>
        {roadmapNames?.map((roadmap: string) => (
          <option value={roadmap}>{roadmap}</option>
        ))}
      </select>

      <!--TODO: Poner bonito el espacion para que haya margen pero con sentido -->

      <br/>

    <br/>
    <br/>

    <br/>

    <br/>
    <br/>


   
  
    <script>


      const selecion = document.getElementById('roadmapSelect');
  
      selecion?.addEventListener('change', (event) => {
        const selectedValue = (event.target as HTMLSelectElement).value;
            window.location.href = `/modificar/categoriaSelect?roadmap=${selectedValue}`;
      });
    </script>
  </BaseLayout>