---
import Icon from '../AstroIcon.astro';
import AccountDropdown from './AccountDropdown.astro';
---

<div class='bg-gray-100 py-5 text-lks-color sm:py-8'>
  <nav class='container flex items-center justify-between'>
    <a class='flex items-center text-lks-color font-medium text-lks-color' href='/' aria-label="roadmap.sh">
      <Icon icon='logo' />
    </a>

    <!-- Desktop navigation items -->
    <ul class='hidden space-x-5 sm:flex sm:items-center'>
      <li>
        <a href='/roadmaps' class='text-lks-color hover:text-gray-400'>Roadmaps</a>
      </li>
      <li>
        <a href='/organigrama' class='text-lks-color hover:text-gray-400'
          >Organigrama</a
        >
     </li>

     <li>
        <a href='/addBD/configCrear' class='text-lks-color hover:text-gray-400'>
          CrearNuevo</a
        >
     </li>

      <!--<li class='hidden lg:inline'>
        <a href='/guides' class='text-lks-color hover:text-gray-400'>Guides</a>
      </li>
      <li class='hidden lg:inline'>
        <a href='/videos' class='text-lks-color hover:text-gray-400'>Videos</a>
      </li>-->

      <li class='hidden lg:inline'>
        <a href='/addBD/escogerObjeto' class='text-lks-color hover:text-gray-400'>Añadir</a>
      </li>

      <li class='hidden lg:inline'>
        <a href='/modificar/escogerModificar' class='text-lks-color hover:text-gray-400'>Modificar</a>
      </li>
      <li class='hidden lg:inline'>
        <a href='/opinar/escogerRecurso' class='text-lks-color hover:text-gray-400'>Calificar</a>
      </li>
     <!-- <li>
        <kbd data-command-menu class="hidden sm:flex items-center text-lks-color border border-lks-color rounded-md px-2.5 py-1 text-sm hover:bg-gray-600 hover:cursor-pointer">
           <Icon icon='search' class='h-3 w-3 mr-2' />
          <kbd class='font-sans mr-1'>⌘</kbd><kbd class='font-sans'>K</kbd>
        </kbd>
      </li>-->
      
    </ul>
    
    <!-- Mobile Navigation Button -->
    <button
      class='block cursor-pointer text-gray-400 hover:text-gray-50 sm:hidden'
      aria-label='Menu'
      data-show-mobile-nav
    >
      <Icon icon='hamburger' />
    </button>

    <!-- Mobile Navigation Items -->
    <div
      class='fixed bottom-0 left-0 right-0 top-0 z-40 flex hidden items-center bg-slate-900'
      data-mobile-nav
    >
      <button
        data-close-mobile-nav
        class='absolute right-6 top-6 block cursor-pointer text-gray-400 hover:text-gray-50'
        aria-label='Close Menu'
      >
        <Icon icon='close' />
      </button>
      <ul class='flex w-full flex-col items-center gap-2 md:gap-3'>
        <li>
          <a href='/roadmaps' class='text-xl hover:text-blue-300 md:text-lg'>
            Roadmaps
          </a>
        </li>
        <li>
          <a
            href='/organigrama'
            class='text-xl hover:text-blue-300 md:text-lg'
          >
            Organigrama
          </a>
        </li>
        

        <!-- Links for logged in users -->
        <li data-auth-required class='hidden'>
          <a
            href='/account'
            class='text-xl hover:text-blue-300 md:text-lg'
          >
            Account
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<script src='./navigation.ts'></script>
