---
import SimplePageHeader from "../components/SimplePageHeader.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { addResourceCategoria, type MyErrorEvent  } from "../database/consultas";
import { addResourceTituloEnlace } from "../database/consultas";
import { addRelacionRecursoCategoria } from "../database/consultas";
import { getCategoriaInformacionRoadmap } from "../database/consultas";

export const prerender = false

if (Astro.request.method === "POST") {
    try {
      const data = await Astro.request.formData();
      const titulo = data.get("titulo");
      const enlace = data.get("enlace");
      const categoria = data.get("categoria");
      const superior = data.get("superior");
      const descripcion = data.get("descripcion");
      let idRecurso ;
      let idNombre ;
      let categoriaBD;
        if(categoria && superior && descripcion){
          try{
            idNombre =await addResourceCategoria(categoria.toString(),  descripcion.toString(),superior.toString(),);
            } catch (error) {
            const errorDuplicate = error as MyErrorEvent;
            if (errorDuplicate.message === 'ER_DUP_ENTRY') {
              console.log("Duplicate key error occurred.");
              categoriaBD = await getCategoriaInformacionRoadmap(categoria.toString());
              if (categoriaBD) {
                idNombre = categoriaBD.idNombre;
              }} else{
                console.error("An error occurred while adding the row:", error);
              }
          }
        }
        if(titulo && enlace){
        idRecurso = await addResourceTituloEnlace(titulo.toString(), enlace.toString());
        }

      if(idRecurso && idNombre){
          addRelacionRecursoCategoria(idRecurso, idNombre);
        }

    } catch (error) {
      console.log(error);
    }
  }

---

<BaseLayout title='About roadmap.sh' permalink={'/addBD'}>
    <SimplePageHeader
    title='Developer Roadmaps'
    description='Añade todo a la base de datos'
  />

  <form method="POST">
    <label>
      Titulo:
      <input type="text" name="titulo"  />
    </label>
    <br>
    <label>
      Enlace:
      <input type="text"name="enlace" />
    </label>
    <br>
    <label>
        Categoria:
        <input type="text" name="categoria" />
      </label>
      <br>
      <label>
        CategoriaSuperior:
        <input type="text" name="superior" />
      </label>
      <br>
      <label>
        Descripcion:
        <input type="text" name="descripcion" />
      </label>
      <br>
    <button>Submit</button>
    </form>

</BaseLayout>