---
import SimplePageHeader from '../../components/SimplePageHeader.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout
  title='Roadmap Personalizado '
  description={'Escoge los parámetros que más se adecuen a tu situación y te mostraremos un roadmap personalizado para ti.'}
  permalink={'/variable'}
>
  <SimplePageHeader
    title='Roadmap Personalizado '
    description='Escoge los parámetros que más se adecuen a tu situación y te mostraremos un roadmap personalizado para ti.'
  />

  <form method="post">

    ¿Qué necesitas? <br>
  
       
    <label>
        
        <label for="r1">Junior</label>
        <input type="radio" name="dificultad" id="r1" value="junior">
        <label for="r2">Semi-senior</label>
        <input type="radio" name="dificultad" id="r2" value="semisenior">

    
      </label>

        <br>

        <button type="submit" name="variablePuesto">Enviar</button>



  </form>






</BaseLayout>